.projectsTitle{
    text-align: center;
    margin-top: 10rem;
    font-size: 75px;
    color: orange;
    background-color: wheat;
    padding: 1rem;
    margin-left: -2rem;
    margin-right: -1rem;
}
.projects {
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5rem; 
    padding: 2rem;
    margin-left: -0.4rem;
  }
  
  .projectOne {
    display: grid;
    grid-template-rows: auto 1fr;
  }
  
  .projectOne img {
    height: 15rem;
    width: 22rem;
    margin-top: 2rem;
    grid-row: 1 / 2;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 1rem;
  }
  
  .projectOne button {
    grid-row: 2 / 3;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1.8rem;
    height: 3rem;
    width: 20rem;
    border-radius: 1rem;
    border: 3px double rgb(255, 166, 0);
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
  }
  
  