.projectsTitle{
    text-align: center;
    margin-top: 10rem;
    font-size: 75px;
    color: orange;
    background-color: wheat;
    padding: 1rem;
    margin-left: -2rem;
    margin-right: -1rem;
}
.projects {
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem; 
    padding: 2rem;
    margin-left: 7rem;
  }
  
  .projectOne {
    display: grid;
    grid-template-rows: auto 1fr;
  }
  
  .projectOne img {
    height: 17rem;
    width: 25rem;
    margin-top: 2rem;
    grid-row: 1 / 2;
    border: 10px solid rgb(246, 149, 76);
    border-radius: 1rem;
  }
  
  .projectOne button {
    grid-row: 2 / 3;
    text-align: center;
    margin-top: 1rem;
    margin-left: 3rem;
    height: 3rem;
    width: 20rem;
    border-radius: 1rem;
    border: 3px double rgb(249, 239, 221);
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
  #long{
    font-size: 1rem;
  }