header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(1, 24, 40, 0.35);
    height: 4rem;
    text-align: right;
}
a{
    padding-right: 2rem;
    color: rgb(255, 255, 255); 
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 4rem;
    font-weight: 400;
  
}