.about-container {
    position: relative;
    margin-top: 35rem;
  }
  
  .about-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
  }
  
  .about-text h1 {
    font-size: 3rem;
    position: absolute;
    left: 15%;
    transform: translate(-50%, -50%) translateX(40rem);
    margin-top: -28rem;
  }
  .buzz{
    margin-left: 40rem;
    margin-top: -23rem;
    font-size: 1.2rem;
  }
  .about-text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .pic {
    display: block;
    margin-left: 8rem;
    width: 5rem;
    height: 10rem;
  
  }
  
  .pic img {
    height: 28rem;
    margin-top: -28rem;
    border: 8px solid #f38f16dc ;
    border-radius: 50%;
  }
  

.paragraph p{
font-size: 1.4rem;
text-align: center;
border: 3px solid wheat;
width: 42rem;
display: flexbox;
float: right;
margin-top: -28rem;
background-color: #f38f16dc;
height: 18rem;
border-radius: 5%;
padding: 0.5rem;
padding-top: 2rem;
margin-right: 2rem;
}

